wsdl/1ASIWMUSAYK_PDT_20200504_074141/1ASIWMUSAYK_PDT_20200504_074141.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:hotel_completereservationdetails_17_1="http://xml.amadeus.com/HCRDRQ_17_1_1A" xmlns:hotel_completereservationdetailsreply_17_1="http://xml.amadeus.com/HCRDRR_17_1_1A" xmlns:hotel_sell_17_1="http://xml.amadeus.com/HBKRCQ_17_1_1A" xmlns:hotel_sellreply_17_1="http://xml.amadeus.com/HBKRCR_17_1_1A" xmlns:ota_readrq_5_1="http://xml.amadeus.com/!NO_CODE!_05_1_OTA2012B" xmlns:ota_resretrievers_7_0="http://xml.amadeus.com/!NO_CODE!_07_0_OTA2012B" xmlns:pnr_addmultielements_19_1="http://xml.amadeus.com/PNRADD_19_1_1A" xmlns:pnr_cancel_17_2="http://xml.amadeus.com/PNRXCL_17_2_1A" xmlns:pnr_list_0_1="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns:pnr_reply_17_2="http://xml.amadeus.com/PNRACC_17_2_1A" xmlns:pnr_reply_19_1="http://xml.amadeus.com/PNRACC_19_1_1A" xmlns:pnr_retrieve_17_2="http://xml.amadeus.com/PNRRET_17_2_1A" xmlns:security_authenticate_6_1="http://xml.amadeus.com/VLSSLQ_06_1_1A" xmlns:security_authenticatereply_6_1="http://xml.amadeus.com/VLSSLR_06_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xml.amadeus.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com">
  <wsp:Policy wsu:Id="MessagingPolicy">
    <wsam:Addressing wsp:Optional="true">
      <wsp:Policy>
        <wsam:AnonymousResponses />
      </wsp:Policy>
    </wsam:Addressing>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AmadeusPolicy">
    <wsp:PolicyReference URI="#MessagingPolicy" />
  </wsp:Policy>
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="Hotel_CompleteReservationDetails_17_1_1A.xsd" namespace="http://xml.amadeus.com/HCRDRQ_17_1_1A" />
      <xs:import schemaLocation="Hotel_CompleteReservationDetailsReply_17_1_1A.xsd" namespace="http://xml.amadeus.com/HCRDRR_17_1_1A" />
      <!-- <xs:import schemaLocation="OTA_ReadRQ_05_1_OTA2012B.xsd" namespace="http://xml.amadeus.com/!NO_CODE!_05_1_OTA2012B" /> -->
      <!-- <xs:import schemaLocation="OTA_ResRetrieveRS_07_0_OTA2012B.xsd" namespace="http://xml.amadeus.com/!NO_CODE!_07_0_OTA2012B" /> -->
      <xs:import schemaLocation="Hotel_Sell_17_1_1A.xsd" namespace="http://xml.amadeus.com/HBKRCQ_17_1_1A" />
      <xs:import schemaLocation="Hotel_SellReply_17_1_1A.xsd" namespace="http://xml.amadeus.com/HBKRCR_17_1_1A" />
      <xs:import schemaLocation="PNR_AddMultiElements_19_1_1A.xsd" namespace="http://xml.amadeus.com/PNRADD_19_1_1A" />
      <xs:import schemaLocation="PNR_Reply_19_1_1A.xsd" namespace="http://xml.amadeus.com/PNRACC_19_1_1A" />
      <xs:import schemaLocation="PNR_Cancel_17_2_1A.xsd" namespace="http://xml.amadeus.com/PNRXCL_17_2_1A" />
      <xs:import schemaLocation="PNR_Reply_17_2_1A.xsd" namespace="http://xml.amadeus.com/PNRACC_17_2_1A" />
      <xs:import schemaLocation="PNR_Retrieve_17_2_1A.xsd" namespace="http://xml.amadeus.com/PNRRET_17_2_1A" />
      <xs:import schemaLocation="PNR_List_00_1_1A.xsd" namespace="http://xml.amadeus.com/TNLRES_00_1_1A" />
      <xs:import schemaLocation="Security_Authenticate_06_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" />
      <xs:import schemaLocation="Security_AuthenticateReply_06_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSLR_06_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="AMA/2012B/AMA_WS_Session.xsd" namespace="http://xml.amadeus.com/2010/06/Session_v3" />
      <xs:import schemaLocation="AMA_WSLink.xsd" namespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" />
      <xs:import schemaLocation="AMA/2012B/AMA_SecurityHostedUser.xsd" namespace="http://xml.amadeus.com/2010/06/Security_v1" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_3.000">
    <wsdl:part name="session" element="awsse:Session" />
  </wsdl:message>
  <wsdl:message name="TransactionFlowLink_1.0">
    <wsdl:part name="link" element="awsl:TransactionFlowLink" />
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser_1.000">
    <wsdl:part name="security" element="amasec:AMA_SecurityHostedUser" />
  </wsdl:message>
  <wsdl:message name="Hotel_CompleteReservationDetails_17_1">
    <wsdl:part name="Hotel_CompleteReservationDetails_17_1" element="hotel_completereservationdetails_17_1:Hotel_CompleteReservationDetails" />
  </wsdl:message>
  <wsdl:message name="Hotel_CompleteReservationDetailsReply_17_1">
    <wsdl:part name="Hotel_CompleteReservationDetailsReply_17_1" element="hotel_completereservationdetailsreply_17_1:Hotel_CompleteReservationDetailsReply" />
  </wsdl:message>
  <wsdl:message name="OTA_ReadRQ_5_1">
    <wsdl:part name="OTA_ReadRQ_5_1" element="ota_readrq_5_1:OTA_ReadRQ" />
  </wsdl:message>
  <wsdl:message name="OTA_ResRetrieveRS_7_0">
    <wsdl:part name="OTA_ResRetrieveRS_7_0" element="ota_resretrievers_7_0:OTA_ResRetrieveRS" />
  </wsdl:message>
  <wsdl:message name="Hotel_Sell_17_1">
    <wsdl:part name="Hotel_Sell_17_1" element="hotel_sell_17_1:Hotel_Sell" />
  </wsdl:message>
  <wsdl:message name="Hotel_SellReply_17_1">
    <wsdl:part name="Hotel_SellReply_17_1" element="hotel_sellreply_17_1:Hotel_SellReply" />
  </wsdl:message>
  <wsdl:message name="PNR_AddMultiElements_19_1">
    <wsdl:part name="PNR_AddMultiElements_19_1" element="pnr_addmultielements_19_1:PNR_AddMultiElements" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_19_1">
    <wsdl:part name="PNR_Reply_19_1" element="pnr_reply_19_1:PNR_Reply" />
  </wsdl:message>
  <wsdl:message name="PNR_Cancel_17_2">
    <wsdl:part name="PNR_Cancel_17_2" element="pnr_cancel_17_2:PNR_Cancel" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_17_2">
    <wsdl:part name="PNR_Reply_17_2" element="pnr_reply_17_2:PNR_Reply" />
  </wsdl:message>
  <wsdl:message name="PNR_Retrieve_17_2">
    <wsdl:part name="PNR_Retrieve_17_2" element="pnr_retrieve_17_2:PNR_Retrieve" />
  </wsdl:message>
  <wsdl:message name="PNR_List_0_1">
    <wsdl:part name="PNR_List_0_1" element="pnr_list_0_1:PNR_List" />
  </wsdl:message>
  <wsdl:message name="Security_Authenticate_6_1">
    <wsdl:part name="Security_Authenticate_6_1" element="security_authenticate_6_1:Security_Authenticate" />
  </wsdl:message>
  <wsdl:message name="Security_AuthenticateReply_6_1">
    <wsdl:part name="Security_AuthenticateReply_6_1" element="security_authenticatereply_6_1:Security_AuthenticateReply" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="Hotel_CompleteReservationDetails">
      <wsdl:input message="tns:Hotel_CompleteReservationDetails_17_1" />
      <wsdl:output message="tns:Hotel_CompleteReservationDetailsReply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="Hotel_RetrieveBookingbyID">
      <wsdl:input message="tns:OTA_ReadRQ_5_1" />
      <wsdl:output message="tns:OTA_ResRetrieveRS_7_0" />
    </wsdl:operation>
    <wsdl:operation name="Hotel_Sell">
      <wsdl:input message="tns:Hotel_Sell_17_1" />
      <wsdl:output message="tns:Hotel_SellReply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <wsdl:input message="tns:PNR_AddMultiElements_19_1" />
      <wsdl:output message="tns:PNR_Reply_19_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Cancel">
      <wsdl:input message="tns:PNR_Cancel_17_2" />
      <wsdl:output message="tns:PNR_Reply_17_2" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <wsdl:input message="tns:PNR_Retrieve_17_2" />
      <wsdl:output message="tns:PNR_Reply_17_2" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <wsdl:input message="tns:PNR_Retrieve_17_2" />
      <wsdl:output message="tns:PNR_List_0_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_Authenticate">
      <wsdl:input message="tns:Security_Authenticate_6_1" />
      <wsdl:output message="tns:Security_AuthenticateReply_6_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hotel_CompleteReservationDetails">
      <soap:operation soapAction="http://webservices.amadeus.com/HCRDRQ_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_RetrieveBookingbyID">
      <soap:operation soapAction="http://webservices.amadeus.com/Hotel_RetrieveBookingbyID_1.0" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_Sell">
      <soap:operation soapAction="http://webservices.amadeus.com/HBKRCQ_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <soap:operation soapAction="http://webservices.amadeus.com/PNRADD_19_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Cancel">
      <soap:operation soapAction="http://webservices.amadeus.com/PNRXCL_17_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <soap:operation soapAction="http://webservices.amadeus.com/PNRRET_17_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <soap:operation soapAction="http://webservices.amadeus.com/PNRRET_17_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_Authenticate">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSLQ_06_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <wsp:PolicyReference URI="#AmadeusPolicy" />
      <soap:address location="https://nodeD2.test.webservices.amadeus.com/1ASIWMUSAYK" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!--1F8B0800000000000000258DC10AC2301044EFFD8A3D2AD2B22D1521B752B1880684548AC760F71048D290C442FFDE45614E33BC3703798A3A9BC543368E52D62E0868B0C1128F25B620173FEB0DF024DA9A03831C0F8802B198D4F90EC39F5F22AC14136B18AEB0C2A2B7867C061D8235EFDF8100F949D6B84BE465B65B3546BD92859D7CAA3DDBBA0778ED4840DDA9EBC465F7BA7D01B7CCED299F000000-->
